* {
   box-sizing: border-box;
   margin: 0;
}

body {
  min-height: 100vh;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  margin: 0 auto;

  background-color: #1d1f20;
}

.preloader {
  width: 250px;
  height: 250px;

  border-radius: 50%;
  border-top: 10px solid grey;
  //border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

  animation: glowing 2s linear infinite;
}

@keyframes glowing {
  0% {
    transform: rotate(0deg);
    border-color: #ff69b4;
  }

  20% {
    border-color: #d2691e;
  }

  40% {
    border-color: #663399;
  }
  60% {
    border-color: #483d8b;
  }
  80% {
    border-color: #a73535;
  }

  100% {
    transform: rotate(360deg);
    border-color: #ff69b4;
  }
}